In [1]:
import pandas as pd

In [2]:

df_NO2 = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_NO2_final.xlsx")
df_CO = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_CO_final.xlsx")
df_OZONE = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_OZONE_final.xlsx")
df_PM10 = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_PM10_final.xlsx")
df_PM25 = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_PM25_final.xlsx")
df_SO2 = pd.read_excel(r"C:\Users\yousu\Documents\Coding\NASA HACKATHON\data_test\final_data\airnow_SO2_final.xlsx")

In [3]:
df_NO2.head()

,Latitude,Longitude,UTC,Parameter,Unit,Value,AQI,Category,source_file
0,49.682603,-124.996222,2025-09-17T00:00,NO2,PPB,1.9,1,1,airnow_NO2_2025-09-17.xlsx
1,49.200830,-123.993890,2025-09-17T00:00,NO2,PPB,6.3,6,1,airnow_NO2_2025-09-17.xlsx
2,48.786114,-123.717307,2025-09-17T00:00,NO2,PPB,2.4,2,1,airnow_NO2_2025-09-17.xlsx
3,48.423890,-123.492780,2025-09-17T00:00,NO2,PPB,2.7,2,1,airnow_NO2_2025-09-17.xlsx
4,49.438848,-123.479185,2025-09-17T00:00,NO2,PPB,2.3,2,1,airnow_NO2_2025-09-17.xlsx

In [4]:
df_CO.head()

,Latitude,Longitude,UTC,Parameter,Unit,Value,AQI,Category,source_file
0,48.441942,-123.363165,2025-09-17T00:00,CO,PPM,0.2,-999,-999,airnow_CO_2025-09-17.xlsx
1,49.186390,-123.152220,2025-09-17T00:00,CO,PPM,0.3,-999,-999,airnow_CO_2025-09-17.xlsx
2,49.282000,-123.122000,2025-09-17T00:00,CO,PPM,0.4,-999,-999,airnow_CO_2025-09-17.xlsx
3,49.141390,-123.108330,2025-09-17T00:00,CO,PPM,0.3,-999,-999,airnow_CO_2025-09-17.xlsx
4,49.323891,-123.083611,2025-09-17T00:00,CO,PPM,0.2,-999,-999,airnow_CO_2025-09-17.xlsx

In [3]:


pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

for name, df in pollutant_dfs.items():
    if "AQI" in df.columns:
        new_col = f"AQI_{name}"
        df.rename(columns={"AQI": new_col}, inplace=True)
        print(f"✅ Renamed AQI → {new_col} for {name}")
    else:
        print(f"⚠️ No 'AQI' column found in {name}")

✅ Renamed AQI → AQI_NO2 for NO2
✅ Renamed AQI → AQI_CO for CO
✅ Renamed AQI → AQI_OZONE for OZONE
✅ Renamed AQI → AQI_PM10 for PM10
✅ Renamed AQI → AQI_PM25 for PM25
✅ Renamed AQI → AQI_SO2 for SO2

In [6]:
df_PM10.head()

,Latitude,Longitude,UTC,Parameter,Unit,Value,AQI_PM10,Category,source_file
0,40.776943,-124.177498,2025-09-17T00:00,PM10,UG/M3,19,18,1,airnow_PM10_2025-09-17.xlsx
1,49.186390,-123.152220,2025-09-17T00:00,PM10,UG/M3,15,14,1,airnow_PM10_2025-09-17.xlsx
2,49.287000,-123.008000,2025-09-17T00:00,PM10,UG/M3,22,20,1,airnow_PM10_2025-09-17.xlsx
3,49.215280,-122.985560,2025-09-17T00:00,PM10,UG/M3,21,19,1,airnow_PM10_2025-09-17.xlsx
4,49.279400,-122.971100,2025-09-17T00:00,PM10,UG/M3,19,18,1,airnow_PM10_2025-09-17.xlsx

In [4]:
pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

for name, df in pollutant_dfs.items():
    if "source_file" in df.columns:
        df.drop(columns=["source_file","Category"], inplace=True)
        print(f"🗑️ Removed 'source_file' from {name}")
    else:
        print(f"⚠️ No 'source_file' column found in {name}")

🗑️ Removed 'source_file' from NO2
🗑️ Removed 'source_file' from CO
🗑️ Removed 'source_file' from OZONE
🗑️ Removed 'source_file' from PM10
🗑️ Removed 'source_file' from PM25
🗑️ Removed 'source_file' from SO2

In [8]:
df_PM25.head()

    Latitude   Longitude               UTC Parameter   Unit  Value  AQI_PM25
0  50.018425 -125.248400  2025-09-16T23:00     PM2.5  UG/M3    0.5         3
1  49.261014 -124.806628  2025-09-16T23:00     PM2.5  UG/M3    6.0        33
2  48.366058 -124.610046  2025-09-16T23:00     PM2.5  UG/M3    6.0        33
3  47.339802 -124.291801  2025-09-16T23:00     PM2.5  UG/M3    4.9        27
4  42.054597 -124.276768  2025-09-16T23:00     PM2.5  UG/M3    3.7        21

In [5]:


pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

for name, df in pollutant_dfs.items():
    if "Value" in df.columns:
        new_col = f"Value_{name}"
        df.rename(columns={"Value": new_col}, inplace=True)
        print(f"✅ Renamed Value → {new_col} for {name}")
    else:
        print(f"⚠️ No 'Value' column found in {name}")

✅ Renamed Value → Value_NO2 for NO2
✅ Renamed Value → Value_CO for CO
✅ Renamed Value → Value_OZONE for OZONE
✅ Renamed Value → Value_PM10 for PM10
✅ Renamed Value → Value_PM25 for PM25
✅ Renamed Value → Value_SO2 for SO2

In [10]:
df_PM25.head()

,Latitude,Longitude,UTC,Parameter,Unit,Value_PM25,AQI_PM25
0,50.018425,-125.248400,2025-09-16T23:00,PM2.5,UG/M3,0.5,3
1,49.261014,-124.806628,2025-09-16T23:00,PM2.5,UG/M3,6.0,33
2,48.366058,-124.610046,2025-09-16T23:00,PM2.5,UG/M3,6.0,33
3,47.339802,-124.291801,2025-09-16T23:00,PM2.5,UG/M3,4.9,27
4,42.054597,-124.276768,2025-09-16T23:00,PM2.5,UG/M3,3.7,21

In [6]:
pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

for name, df in pollutant_dfs.items():
    if "Parameter" in df.columns and "Unit" in df.columns:
        df.drop(columns=["Parameter","Unit"], inplace=True)
        print(f"🗑️ Removed 'source_file' from {name}")
    else:
        print(f"⚠️ No 'Parameter & Unit' column found in {name}")

🗑️ Removed 'source_file' from NO2
🗑️ Removed 'source_file' from CO
🗑️ Removed 'source_file' from OZONE
🗑️ Removed 'source_file' from PM10
🗑️ Removed 'source_file' from PM25
🗑️ Removed 'source_file' from SO2

In [12]:
df_PM25.head()

    Latitude   Longitude               UTC  Value_PM25  AQI_PM25
0  50.018425 -125.248400  2025-09-16T23:00         0.5         3
1  49.261014 -124.806628  2025-09-16T23:00         6.0        33
2  48.366058 -124.610046  2025-09-16T23:00         6.0        33
3  47.339802 -124.291801  2025-09-16T23:00         4.9        27
4  42.054597 -124.276768  2025-09-16T23:00         3.7        21

In [7]:
from functools import reduce
import pandas as pd

# ensure UTC is datetime (helps later)
for df in [df_PM25, df_PM10, df_NO2, df_SO2, df_CO, df_OZONE]:
    df["UTC"] = pd.to_datetime(df["UTC"], errors="coerce")

pollutant_dfs = [df_PM25, df_PM10, df_NO2, df_SO2, df_CO, df_OZONE]

# Outer join keeps rows even if some pollutants are missing
df_all = reduce(
    lambda left, right: pd.merge(
        left, right, on=["Latitude", "Longitude", "UTC"], how="outer"
    ),
    pollutant_dfs
)

# optional: sort and drop exact duplicates
df_all = df_all.sort_values(["UTC", "Latitude", "Longitude"]).drop_duplicates()

# save
df_all.to_excel("airnow_all_pollutants.xlsx", index=False)
# or parquet (smaller/faster)
# df_all.to_parquet("airnow_all_pollutants.parquet", index=False)

KeyboardInterrupt:

In [22]:
df_all

,Latitude,Longitude,UTC,Value_PM25,AQI_PM25,Value_PM10,AQI_PM10,Value_NO2,AQI_NO2,Value_SO2,AQI_SO2,Value_CO,AQI_CO,Value_OZONE,AQI_OZONE
0,18.428388,-66.141657,2025-09-16 23:00:00,14.3,61.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389,25.478250,-80.483750,2025-09-16 23:00:00,5.1,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
752,25.586399,-80.326897,2025-09-16 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,17.0
1213,25.686942,-80.399988,2025-09-16 23:00:00,6.4,36.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1671,25.732500,-80.162201,2025-09-16 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
961280,50.144285,-122.960402,2025-10-04 23:00:00,1.3,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
962279,50.216270,-66.385200,2025-10-04 23:00:00,2.7,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
962817,50.260617,-119.270723,2025-10-04 23:00:00,0.7,4.0,5.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963355,50.285833,-107.816890,2025-10-04 23:00:00,2.1,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
963893,50.452730,-104.616020,2025-10-04 23:00:00,2.7,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df_NO2.shape, df_CO.shape, df_OZONE.shape, df_PM10.shape, df_PM25.shape, df_SO2.shape, df_all.shape

NameError: name 'df_all' is not defined

In [ ]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm
import pandas as pd

geolocator = Nominatim(user_agent="pollution_state_mapper")
geocode = RateLimiter(geolocator.reverse, min_delay_seconds=1)

# All pollutant DataFrames
pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

def get_state(lat, lon):
    try:
        location = geocode((lat, lon), language="en")
        if location and "address" in location.raw:
            return location.raw["address"].get("state")
    except:
        return None
    return None

for name, df in pollutant_dfs.items():
    tqdm.pandas(desc=f"Mapping states for {name}")
    df["State"] = df.progress_apply(lambda row: get_state(row["Latitude"], row["Longitude"]), axis=1)
    print(f"✅ Added 'State' column to {name} with {df['State'].notna().sum()} successful lookups")

Mapping states for NO2:   0%|          | 70/157878 [01:06<43:20:09,  1.01it/s]

In [24]:
!pip install geopandas shapely fiona

Collecting geopandas
  Downloading geopandas-1.1.1-py3-none-any.whl.metadata (2.3 kB)
Collecting shapely
  Downloading shapely-2.1.2-cp312-cp312-win_amd64.whl.metadata (7.1 kB)
Collecting fiona
  Downloading fiona-1.10.1-cp312-cp312-win_amd64.whl.metadata (58 kB)
Requirement already satisfied: numpy>=1.24 in c:\users\yousu\anaconda3\lib\site-packages (from geopandas) (1.26.4)
Collecting pyogrio>=0.7.2 (from geopandas)
  Downloading pyogrio-0.11.1-cp312-cp312-win_amd64.whl.metadata (5.4 kB)
Requirement already satisfied: packaging in c:\users\yousu\anaconda3\lib\site-packages (from geopandas) (24.1)
Requirement already satisfied: pandas>=2.0.0 in c:\users\yousu\anaconda3\lib\site-packages (from geopandas) (2.2.2)
Collecting pyproj>=3.5.0 (from geopandas)
  Downloading pyproj-3.7.2-cp312-cp312-win_amd64.whl.metadata (31 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\yousu\anaconda3\lib\site-packages (from fiona) (23.1.0)
Requirement already satisfied: certifi in c:\users\yousu\anaconda3\lib\site-packages (from fiona) (2025.1.31)
Requirement already satisfied: click~=8.0 in c:\users\yousu\anaconda3\lib\site-packages (from fiona) (8.1.7)
Collecting click-plugins>=1.0 (from fiona)
  Downloading click_plugins-1.1.1.2-py2.py3-none-any.whl.metadata (6.5 kB)
Collecting cligj>=0.5 (from fiona)
  Downloading cligj-0.7.2-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: colorama in c:\users\yousu\anaconda3\lib\site-packages (from click~=8.0->fiona) (0.4.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yousu\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\yousu\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\yousu\anaconda3\lib\site-packages (from pandas>=2.0.0->geopandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\yousu\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=2.0.0->geopandas) (1.16.0)
Downloading geopandas-1.1.1-py3-none-any.whl (338 kB)
Downloading shapely-2.1.2-cp312-cp312-win_amd64.whl (1.7 MB)
   ---------------------------------------- 0.0/1.7 MB ? eta -:--:--
   ---------------------------------------- 1.7/1.7 MB 11.7 MB/s eta 0:00:00
Downloading fiona-1.10.1-cp312-cp312-win_amd64.whl (24.5 MB)
   ---------------------------------------- 0.0/24.5 MB ? eta -:--:--
   ------ --------------------------------- 4.2/24.5 MB 19.4 MB/s eta 0:00:02
   ------------ --------------------------- 7.3/24.5 MB 16.8 MB/s eta 0:00:02
   ------------------ --------------------- 11.5/24.5 MB 17.6 MB/s eta 0:00:01
   ---------------------------- ----------- 17.3/24.5 MB 19.8 MB/s eta 0:00:01
   -------------------------------------- - 23.6/24.5 MB 21.9 MB/s eta 0:00:01
   ---------------------------------------- 24.5/24.5 MB 21.8 MB/s eta 0:00:00
Downloading click_plugins-1.1.1.2-py2.py3-none-any.whl (11 kB)
Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Downloading pyogrio-0.11.1-cp312-cp312-win_amd64.whl (19.2 MB)
   ---------------------------------------- 0.0/19.2 MB ? eta -:--:--
   -------------- ------------------------- 7.1/19.2 MB 33.6 MB/s eta 0:00:01
   --------------------------------- ------ 16.0/19.2 MB 37.3 MB/s eta 0:00:01
   ---------------------------------------- 19.2/19.2 MB 36.8 MB/s eta 0:00:00
Downloading pyproj-3.7.2-cp312-cp312-win_amd64.whl (6.3 MB)
   ---------------------------------------- 0.0/6.3 MB ? eta -:--:--
   ---------------------------------------  6.3/6.3 MB 32.2 MB/s eta 0:00:01
   ---------------------------------------- 6.3/6.3 MB 29.8 MB/s eta 0:00:00
Installing collected packages: shapely, pyproj, pyogrio, cligj, click-plugins, geopandas, fiona
Successfully installed click-plugins-1.1.1.2 cligj-0.7.2 fiona-1.10.1 geopandas-1.1.1 pyogrio-0.11.1 pyproj-3.7.2 shapely-2.1.2

In [27]:
!pip install geopy tqdm

Collecting geopy
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: tqdm in c:\users\yousu\anaconda3\lib\site-packages (4.66.5)
Collecting geographiclib<3,>=1.52 (from geopy)
  Downloading geographiclib-2.1-py3-none-any.whl.metadata (1.6 kB)
Requirement already satisfied: colorama in c:\users\yousu\anaconda3\lib\site-packages (from tqdm) (0.4.6)
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
Downloading geographiclib-2.1-py3-none-any.whl (40 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-2.1 geopy-2.4.1

In [14]:
import pandas as pd

# Assuming your pollutant DataFrames are already in this dict
pollutant_dfs = {
    "NO2": df_NO2,
    "CO": df_CO,
    "OZONE": df_OZONE,
    "PM10": df_PM10,
    "PM25": df_PM25,
    "SO2": df_SO2,
}

samples = []

for name, df in pollutant_dfs.items():
    # take up to 10 rows (handles smaller DataFrames too)
    sample = df.sample(n=min(10, len(df)), random_state=42)
    sample["Pollutant"] = name  # add a column to identify the pollutant
    samples.append(sample)

# Combine all samples
df_pollutant_sample = pd.concat(samples, ignore_index=True)

# Optional: reorder columns so Pollutant is first
cols = ["Pollutant"] + [c for c in df_pollutant_sample.columns if c != "Pollutant"]
df_pollutant_sample = df_pollutant_sample[cols]

print(df_pollutant_sample.shape)
print(df_pollutant_sample.head(15))

(60, 16)
   Pollutant   Latitude   Longitude               UTC  Value_NO2  AQI_NO2  \
0        NO2  44.044306  -79.483250  2025-10-02T11:00       11.0     10.0
1        NO2  42.393570  -83.431950  2025-10-03T18:00       11.3     10.0
2        NO2  41.842778 -111.851940  2025-10-04T02:00        4.9      4.0
3        NO2  48.641899 -102.402199  2025-09-27T04:00        0.0      0.0
4        NO2  46.101389  -64.789639  2025-10-03T08:00        2.2      2.0
5        NO2  40.497960 -111.397630  2025-09-29T20:00        2.5      2.0
6        NO2  41.771987  -71.427881  2025-09-22T15:00        3.9      3.0
7        NO2  49.200830 -123.993890  2025-09-28T04:00        2.3      2.0
8        NO2  42.822310 -106.365010  2025-09-20T15:00        6.0      6.0
9        NO2  38.013250  -87.577923  2025-09-23T23:00        0.2      0.0
10        CO  33.925062 -117.952586  2025-10-02T02:00        NaN      NaN
11        CO  40.733501 -111.871696  2025-09-21T13:00        NaN      NaN
12        CO  35.135300 -106.584702  2025-09-28T16:00        NaN      NaN
13        CO  37.765800 -122.397800  2025-10-01T00:00        NaN      NaN
14        CO  44.377048  -68.260902  2025-10-02T18:00        NaN      NaN

    Value_CO  AQI_CO  Value_OZONE  AQI_OZONE  Value_PM10  AQI_PM10  \
0        NaN     NaN          NaN        NaN         NaN       NaN
1        NaN     NaN          NaN        NaN         NaN       NaN
2        NaN     NaN          NaN        NaN         NaN       NaN
3        NaN     NaN          NaN        NaN         NaN       NaN
4        NaN     NaN          NaN        NaN         NaN       NaN
5        NaN     NaN          NaN        NaN         NaN       NaN
6        NaN     NaN          NaN        NaN         NaN       NaN
7        NaN     NaN          NaN        NaN         NaN       NaN
8        NaN     NaN          NaN        NaN         NaN       NaN
9        NaN     NaN          NaN        NaN         NaN       NaN
10       0.1  -999.0          NaN        NaN         NaN       NaN
11       0.0  -999.0          NaN        NaN         NaN       NaN
12       0.1  -999.0          NaN        NaN         NaN       NaN
13       0.1  -999.0          NaN        NaN         NaN       NaN
14       0.1  -999.0          NaN        NaN         NaN       NaN

    Value_PM25  AQI_PM25  Value_SO2  AQI_SO2
0          NaN       NaN        NaN      NaN
1          NaN       NaN        NaN      NaN
2          NaN       NaN        NaN      NaN
3          NaN       NaN        NaN      NaN
4          NaN       NaN        NaN      NaN
5          NaN       NaN        NaN      NaN
6          NaN       NaN        NaN      NaN
7          NaN       NaN        NaN      NaN
8          NaN       NaN        NaN      NaN
9          NaN       NaN        NaN      NaN
10         NaN       NaN        NaN      NaN
11         NaN       NaN        NaN      NaN
12         NaN       NaN        NaN      NaN
13         NaN       NaN        NaN      NaN
14         NaN       NaN        NaN      NaN

In [15]:
# Install once (if needed):
# !pip install geopy tqdm

from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm import tqdm
import pandas as pd
import math

# --- Setup geocoder with polite rate limiting ---
geolocator = Nominatim(user_agent="pollution_state_mapper")
reverse = RateLimiter(geolocator.reverse, min_delay_seconds=1)  # ~1 req/sec

# Optional: map full names -> USPS codes
STATE_NAME_TO_CODE = {
    "Alabama":"AL","Alaska":"AK","Arizona":"AZ","Arkansas":"AR","California":"CA","Colorado":"CO",
    "Connecticut":"CT","Delaware":"DE","District of Columbia":"DC","Florida":"FL","Georgia":"GA",
    "Hawaii":"HI","Idaho":"ID","Illinois":"IL","Indiana":"IN","Iowa":"IA","Kansas":"KS","Kentucky":"KY",
    "Louisiana":"LA","Maine":"ME","Maryland":"MD","Massachusetts":"MA","Michigan":"MI","Minnesota":"MN",
    "Mississippi":"MS","Missouri":"MO","Montana":"MT","Nebraska":"NE","Nevada":"NV","New Hampshire":"NH",
    "New Jersey":"NJ","New Mexico":"NM","New York":"NY","North Carolina":"NC","North Dakota":"ND",
    "Ohio":"OH","Oklahoma":"OK","Oregon":"OR","Pennsylvania":"PA","Rhode Island":"RI","South Carolina":"SC",
    "South Dakota":"SD","Tennessee":"TN","Texas":"TX","Utah":"UT","Vermont":"VT","Virginia":"VA",
    "Washington":"WA","West Virginia":"WV","Wisconsin":"WI","Wyoming":"WY"
}

# --- Small cache to avoid re-paying for repeated nearby points ---
cache = {}

def get_state_from_latlon(lat, lon, use_code=True, round_dp=3):
    """Reverse geocode to US state with caching (rounded coords)."""
    if pd.isna(lat) or pd.isna(lon):
        return None
    key = (round(lat, round_dp), round(lon, round_dp))
    if key in cache:
        return cache[key]

    try:
        loc = reverse((lat, lon), language="en", exactly_one=True)
        state_name = None
        if loc and hasattr(loc, "raw"):
            addr = loc.raw.get("address", {})
            # Nominatim keeps state in 'state' for US points
            state_name = addr.get("state")
            # Some DC cases:
            if not state_name and addr.get("city") == "Washington":
                state_name = "District of Columbia"
        if state_name and use_code:
            state_name = STATE_NAME_TO_CODE.get(state_name, state_name)
        cache[key] = state_name
        return state_name
    except Exception:
        cache[key] = None
        return None

# --- Apply to your sample dataframe ---
tqdm.pandas(desc="Reverse geocoding states")
df_pollutant_sample["State"] = df_pollutant_sample.progress_apply(
    lambda r: get_state_from_latlon(r["Latitude"], r["Longitude"], use_code=True),
    axis=1
)

print(df_pollutant_sample[["Latitude","Longitude","State"]].head())
# Optionally save:
# df_pollutant_sample.to_excel("pollutant_sample_with_state.xlsx", index=False)

Reverse geocoding states: 100%|██████████| 60/60 [01:42<00:00,  1.70s/it]

    Latitude   Longitude          State
0  44.044306  -79.483250        Ontario
1  42.393570  -83.431950             MI
2  41.842778 -111.851940             UT
3  48.641899 -102.402199             ND
4  46.101389  -64.789639  New Brunswick

In [8]:
import geopandas as gpd
import pandas as pd
from shapely.geometry import Point

# Example pollutant DataFrame
df = df_PM25  # replace with your dataframe

# Load US states shapefile (fast from Census)
STATES_URL = "https://www2.census.gov/geo/tiger/GENZ2018/shp/cb_2018_us_state_20m.zip"
us_states = gpd.read_file(STATES_URL).to_crs(epsg=4326)
us_states = us_states[~us_states['STUSPS'].isin(['PR','GU','VI','AS','MP'])]  # exclude territories

# Convert lat/lon → geometry
gdf = gpd.GeoDataFrame(df, geometry=gpd.points_from_xy(df.Longitude, df.Latitude), crs="EPSG:4326")

# Spatial join → get state names
joined = gpd.sjoin(gdf, us_states[['NAME','geometry']], how='left', predicate='within')
df["State"] = joined["NAME"]

# Drop non-US rows
df = df[df["State"].notna()]

print(df[["Latitude","Longitude","State"]].head())

    Latitude   Longitude       State
2  48.366058 -124.610046  Washington
3  47.339802 -124.291801  Washington
4  42.054597 -124.276768      Oregon
5  43.362575 -124.218856      Oregon
6  41.756130 -124.203470  California

In [9]:
df

,Latitude,Longitude,UTC,Value_PM25,AQI_PM25,State
2,48.366058,-124.610046,2025-09-16 23:00:00,6.0,33,Washington
3,47.339802,-124.291801,2025-09-16 23:00:00,4.9,27,Washington
4,42.054597,-124.276768,2025-09-16 23:00:00,3.7,21,Oregon
5,43.362575,-124.218856,2025-09-16 23:00:00,2.5,14,Oregon
6,41.756130,-124.203470,2025-09-16 23:00:00,7.6,42,California
...,...,...,...,...,...,...
580472,44.377048,-68.260902,2025-10-04 23:00:00,4.1,23,Maine
580473,46.698380,-68.038933,2025-10-04 23:00:00,5.8,32,Maine
580474,46.696400,-68.033096,2025-10-04 23:00:00,7.6,42,Maine
580475,46.682299,-68.016195,2025-10-04 23:00:00,6.0,33,Maine
580477,44.963459,-67.060476,2025-10-04 23:00:00,4.3,24,Maine